/*-- scss:defaults --*/


/*-- scss:rules --*/

.reveal .slides #title-slide {
  color: red !important;
}

.reveal .slide blockquote {
  border-left: 3px solid $text-muted;
  padding-left: 0.5em;
}

/*
.reveal .slides #title-slide {
  display: none !important; 
}
*/

div.sourceCode {
  border: none !important;
  overflow: visible;
}

h2 {
    display: none !important;
}

pre.sourceCode code {
  max-height: 100% !important;
  font-size: 1.3em !important;
}

img {
  width: 100% !important;
  height: auto;
}

* {
  overflow: hidden !important;
}

section#code .column:nth-child(1) {
  width: 70% !important;
}

section#code .column:nth-child(2) {
  width: 30% !important;
  font-size: 0.8em !important;
}